/* Stack Sans Headline font-family */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Stack Sans Headline';
  font-size: 1rem;
  line-height: 1.5;
}


body {
  width: 100vw;
  min-height: 100vh;
  padding: 0 1rem;
}

header {
  border-bottom: 5px solid rgba(107, 107, 225, 0.775);
  width: 100%;
  max-width: 650px;
  margin: 1.5rem auto;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;

  /* header logo */
  #logo {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: #252525;
    .colored-text {
      color: rgba(107, 107, 225, 0.775);   
      text-transform: none;   
    }
  }

  /* add new book button */
  .create-book-btn {
    background-color: rgb(83, 192, 83);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0.3rem 1rem;
    border-radius: .2rem;
    box-shadow: 3px 3px 5px #25252581;
    cursor: pointer;
  }

  .create-book-btn:active {
    box-shadow: none;
    border-radius: unset;
  }
}


/* main */
main {
  width: 100%;
  max-width: 650px;
  margin: 1rem auto;
  /* padding: 1rem; */
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    div {
      flex: 1 1 120px;
      display: flex;
      flex-direction: column;
    }

    div input[type='text'],
    div input[type='number'] {
      min-height: 40px;
      padding-left: .8rem;
    }

    div.question-row {
      margin-top: .2rem;
      flex:  1 2 200px;
      max-height: 50px;
      text-align: left;
      .inner-row {
        margin-top: .5rem;
        display: flex;
        display: inline;
        label {
          margin: 0 1rem;
        }
      }
    }

    div.submit-row {
      flex: 1 2 80px;
      display: flex;
      button {
        width: 100%;
        min-height: 50px;
        align-self: flex-end;
        margin-top: 1rem;
      }
    }
    
  }/* main */

}
/* main */


